/*#00b39b;
}*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
  .top
    {
        padding-top: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 4px;
        text-decoration: none;
  }
  
.nav-links{
    margin-left: 411px;
    width: 21%;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
   
}
.nav-links{ 
    text-decoration: none;
}

.nav-links a{
    font-size: 20px;
    text-decoration: none;
    color: gray;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav-links li{
    list-style-type: none;
}
h1{
    color: gray;
    font-family: Work Sans,Arial,sans-serif;
    font-weight: 300;
    letter-spacing: -.3px;
}
.css-span {
    color: #00b39b;
}
#about{
    color: #00b39b;
}
h2{
  color:#00b39b ;
}

header{
  position: sticky;
  top: 0;
  background-color: white;
}
#titre {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#pgr{
display: flex;
 justify-content: space-around;

}
.col-2 {
  width: 50%;
 
  margin-left: 272px ;

}
#pgr2{
  margin-right: 30
  ;
}

.p1{
  margin-left: 200px;
  font-size: 16px;
  line-height: 1.75;
  font-weight: 400;
  width: 31%;
  font-family: Roboto,Arial,sans-serif;
  color: #747474;
}
.p2{
  margin-right: 120px;
  font-size: 16px;
  line-height: 1.75;
  font-weight: 400;
  width: 31%;
  font-family: Roboto,Arial,sans-serif;
  color: #747474;
}
.pgr3{
  display: flex;
  justify-content: center;
  width: 50;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
  

}
#pgr5{
  border: 1px;
  border-radius: 10px;
  background-color:#00b39b;
  
  font-weight: 400;
  font-family: Roboto,Arial,sans-serif;
  color: white;


  
  padding: 2em 2em 0;
 
  height: 345px;
  margin-right: 51px;
  width: 264px;

  display: flex;
    flex-direction: column;
    justify-content: space-between

}
#pgr5 p{
  margin-right: -92px;
  margin-right: -2px;
}
#pgr6 {
  border: 1px;
  border-radius: 10px;
  background-color:#3d83df;
  
  font-weight: 400;
  font-family: Roboto,Arial,sans-serif;
  color: white;


  
  padding: 2em 2em 0;
 
  height: 345px;
  margin-right: 51px;
  width: 264px;  

}
#pgr7{
  
  border: 1px;
  border-radius: 10px;
  background-color:#1b2734;
  
  font-weight: 400;
  font-family: Roboto,Arial,sans-serif;
  color: white;


  
  padding: 2em 2em 0;
 
  height: 345px;
  margin-right: 51px;
  width: 264px;  
}
p{
  font-size: 1.5em;
    font-weight: 300;
    line-height: 1.2;
    margin: 0;
    color: #fff;   
    margin-right: -92px;
   
}
.traçage {

  flex-direction: column;
justify-content: flex-start;
}

select{
  margin-bottom: 39px;
  cursor: pointer;
  
}
.logo h1{
  padding-left: 188px

}
#h1 {
  margin-top: 53px;
  padding-right: 1122px;
  margin-right: 0;
  width: -1px;
  font-size: -1.875rem;
  color: #00b39b;
  display: block;
}

#h2 {
  font-size: -1.875rem;
  color: #00b39b;
  margin-top: -20px;
}
.logo{
  
  display: flex;
  flex-wrap: wrap;

}
.logos{

  display: flex;
  flex-wrap: wrap;
  width: 1132px;

}
.logos2{
  margin-top: -77px;
  margin-left: 202px;


}
a:hover{
  color: #00b39b;
}
.stats {
  height: 553px;
  background: #e5faf8;
  background-image: linear-gradient(-45deg,rgba(0,204,177,.01) 5%,rgba(61,199,223,.1));
  padding: 1.875em 0 0.625em;
  overflow: hidden;
  margin: 3.125rem auto 5.5rem;
}
.permierpg{font-size: 49.;
    font-family: Work Sans,Arial,sans-serif;
    font-weight: -199;
    letter-spacing: -.3px;
    color: #00b39b;
    font-size: 28px;
    padding-top: 28px;
    line-height: 2;
    width: 23%;
    padding-left: 256px;
}
.deuxiemprg{  font-size: 49.;
  
    font-family: Work Sans,Arial,sans-serif;
    font-weight: -199;
    letter-spacing: -.3px;
    color:gray;
    padding-left: 258px;
    font-size: 13px;
    padding-top: 12px;
    line-height: 2;
    width: 24%;
}
select {
    width: 100%;
    min-width: 15ch;
    max-width: 30ch;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: transparent;
   color:#fff;
   text-decoration: underline;
 
   
  }
  option{
    color:#000
  }
.Improve h1{
    color: #00b39b;
    color: #00b39b;
    /* margin-left: 86px; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    line-height: 0.5;
    font-size: 29px;
    /* font-weight: initial; */

}
.Improve p{
    
    font-size: 16px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: flex-start; */
    color: #747474;
    width: -86px;
    margin-left: 534px;
    margin-right: 427px;
    line-height: 0.5;


}
.warsaw{
    

    margin-bottom: 30px;
    margin-right: 20px;
}



.ville{
    
    margin-right: 1402px;

}

.bt{
    margin-left: -1307px;
    /* display: inline-block; */
    /* vertical-align: middle; */
    /* position: relative; */
    /* outline: 0; */
    border: 0;
    border-radius: 4px;
    padding: 2.166667em 1.5em;
    background: #3d83df;
    font-family: Roboto,Arial,sans-serif;
    /* line-height: 1em; */
    color: #fff;
    font-weight: 200;
    letter-spacing: .04em;
    font-size: 0.75rem;
    text-align: center;
    text-decoration: none!important;
}
.hb {display: flex;
    justify-content: flex-start;


}

.city{


    display: flex;
    flex-wrap: wrap;
    margin-right: 249px;
    margin-left: 254px;
    margin-top: 90px;


}
.barcelone{
    
    margin-bottom: 30px;
    margin-right: 20px;

}
.munich{
    margin-bottom: 30px;
    margin-right: 20px;

}
.istanbul{
    
    margin-bottom: 30px;
    margin-right: 20px;
}
.rome{
    
    margin-bottom: 30px;
    margin-right: 20px;
}
.bologne{
    
    margin-bottom: 30px;
    margin-right: 20px;
}
.curitiba{
    
    margin-bottom: 30px;
    margin-right: 20px;
}
.mexico-city{
    
    margin-bottom: 30px;
    margin-right: 20px;
}

.bt2{
    margin-left: -1326px ;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    outline: 0;
    border: 0;
    border-radius: 4px;
    padding: 1.1666666667em 1.5em;
    background: #3d83df;
    font-family: Roboto,Arial,sans-serif;
    line-height: 1em;
    color: #fff;
    font-weight: 700;
    letter-spacing: .04em;
    font-size: .75rem;
    text-align: center;
    text-decoration: none!important;
    text-transform: uppercase;
    transition: all .2s ease 0s;
}
.bt3{
    margin-left: -1298px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    outline: 0;
    border: 0;
    border-radius: 4px;
    padding: 1.1666666667em 1.5em;
    background: #3d83df;
    font-family: Roboto,Arial,sans-serif;
    line-height: 1em;
    color: #fff;
    font-weight: 700;
    letter-spacing: .04em;
    font-size: .75rem;
    text-align: center;
    text-decoration: none!important;
    text-transform: uppercase;
    transition: all .2s ease 0s;


}
.fin h1{

    padding-left:472px;
    font-size: 2.1428571429em;
    color: #333;
    margin-bottom: 0.75em;

}
.fin button{ cursor: pointer;
    
    margin-left: 630px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    outline: 0;
    border: 0;
    border-radius: 4px;
    padding: 1.1666666667em 1.5em;
    background: #3d83df;
    font-family: Roboto,Arial,sans-serif;
    line-height: 1em;
    color: #fff;
    font-weight: 700;
    letter-spacing: .04em;
    font-size: .75rem;
    text-align: center;
    text-decoration: none!important;
    text-transform: uppercase;
    transition: all .2s ease 0s;
}

footer{/*
    margin-left: 249px;
    margin-right: 249px;
*/

text-align: center; 


border-top: 1px solid #eef2f2;
text-align: center;
padding: 1em 0;
margin-top: 93px;
}
footer p{
    color: #747474;
    font-size: 12px;
    color: #ababab;
}
a{
    text-decoration: none;
}